<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-gray-800 text-gray-100">
        <nav class="flex flex-col bg-green-700 sm:flex-row flex-wrap md:items-center fixed top-0 z-20 w-full px-4 md:px-5 lg:px-16 py-2 justify-between">


            <div class="flex justify-between sm:justify-around gap-x-2 text-white items-center">
        

              <a href="/expenses" class="text-3xl font-bold py-1 flex items-center ">
                Expenses Redefined
              </a>
        
        
              <!-- Hamburger -->
              <button class="sm:hidden cursor-pointer flex flex-col justify-center gap-y-1" id="hamburger" aria-label="menu">
                <div class="w-6 h-1 bar bg-white rounded-lg"></div>
                <div class="w-6 h-1 bar bg-white rounded-lg"></div>
                <div class="w-6 h-1 bar bg-white rounded-lg"></div>
              </button>
        
            </div>
        
        
            <ul class="hidden sm:flex text-gray-400 justify-end items-center gap-x-7 gap-y-5 mt-5 sm:mt-0"
              id="links">
              <li class="">
                <a href="/" class="hover:text-gray-300 active">Home</a>
              </li>
              <li class="">
                <a href="/login" class="hover:text-gray-300">Login</a>
              </li>
              <li class="">
                <a href="logout" class="hover:text-gray-300">Logout</a>
              </li>
        
            </ul>
        
          </nav>
    <section class="mt-40">
    <% if (expenses.length < 1) { %>
<h2 class="text-gray-300 text-center text-4xl">You do not have any recent purchases.  Please add a new purchase.</h2>
       <% } else {%>
        <table class="mx-auto">
        <tr>
            <th class="text-gray-900 text-lg font-extrabold px-6 py-4 border-b border-green-600 bg-white">Product</th>
            <th class="text-gray-900 text-lg font-extrabold px-6 py-4 border-b border-green-600 bg-white">Price</th>
            <th class="text-gray-900 text-lg font-extrabold px-6 py-4 border-b border-green-600 bg-white">Payment Method</th>
            <th class="text-gray-900 text-lg font-extrabold px-6 py-4 border-b border-green-600 bg-white">Location</th>
            <th colspan="4" class="text-gray-900 text-lg font-extrabold px-6 py-4 border-b border-green-600 bg-white">Date</th>
          </tr> 
          <% } %>
    <% expenses.forEach( el => { %>
        <tr class='py-6' data-id='<%=el._id%>'>
                <td class="text-gray-900 px-3 py-3 rounded-l-md border-b border-green-600 bg-white"><%= el.product %></td> 
                <!-- purchases over $100 are highlighted red to show it was an expensive purchase -->
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-white">$<%=el.price%></td>
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-white"><%=el.paymentMethod%></td>
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-white"><%=el.location%></td>
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-white"><%=el.date%></td>
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-gray-300 font-bold"><a class="hover:text-green-600" href="/expenses/<%=el._id%>">show Description</a></td> 
                <td class="text-gray-900 px-3 py-3 border-b border-green-600 bg-gray-300 font-bold"><a class="hover:text-green-600" href="/expenses/<%=el._id%>/edit">Edit Expense</a></td> 
                <td ><form action= "/expenses/<%=el._id%>?_method=DELETE" method="POST">
                  <button class="text-gray-900 font-bold  px-3 py-3  border-solid border-b border-green-600 bg-red-600 hover:text-white hover:cursor-pointer" type="submit">Delete</button>
                </form></td>
            
        </tr>
    <% }) %>    
</table>

</section>
<section class="my-12">
<div class="flex flex-col w-full max-w-md p-12 space-y-4 mx-auto text-center bg-gray-900 text-gray-100">
	<h1 class="text-3xl font-semibold">Add new expenses here!</h1>
  <form novalidate="" action="/expenses/createExpense" method='POST' class="space-y-4 ng-untouched ng-pristine ng-valid">
		<div class="flex flex-col">
			<input type="text" placeholder="Enter Purchased Item" name="product" required class="rounded-t-md border-gray-600 bg-gray-900 text-gray-100 focus:ring-green-400 focus:border-green-400 focus:ring-2">
			<input type="text" name="price" placeholder="Enter Purchase Amount" required class="-mt-1 rounded-b-md border-gray-600 bg-gray-900 text-gray-100 focus:ring-green-400 focus:border-green-400 focus:ring-2">
			<input type="text" placeholder="Enter Your Payment Method" name="paymentMethod" required class="rounded-t-md border-gray-600 bg-gray-900 text-gray-100 focus:ring-green-400 focus:border-green-400 focus:ring-2">

			<input type="text" placeholder="Location of Purchase" name="location" required class="-mt-1 rounded-b-md border-gray-600 bg-gray-900 text-gray-100 focus:ring-green-400 focus:border-green-400 focus:ring-2">
			<input type="datetime-local" placeholder="Date of Purchase" name="date" required class="rounded-t-md border-gray-600 bg-gray-900 text-gray-100 focus:ring-green-400 focus:border-green-400 focus:ring-2">

		</div>

		<button type="submit" class="px-8 py-3 space-x-2 font-semibold rounded bg-green-400 text-gray-900">Add Expense</button>
	</form>
</div>
</section>
    <script src="js/navbar.js"></script>
</body>
</html>